@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: 'Noto Sans', 'Noto Sans JP', sans-serif;
  	--font-mono: 'JetBrains Mono', monospace;

	--breakpoint-3xl: 1920px;
	--breakpoint-4xl: 2560px;
	--breakpoint-5xl: 3840px;

	--color-background: oklch(0.1819 0.0347 279.79);

	--color-text: oklch(1 0 0);

	--color-accent: oklch(0.5535 0.2144 9.33);
	--color-accent-50: oklch(calc(0.5535 * 1.5) 0.2144 9.33);
	--color-accent-100: oklch(calc(0.5535 * 1.4) 0.2144 9.33);
	--color-accent-200: oklch(calc(0.5535 * 1.3) 0.2144 9.33);
	--color-accent-300: oklch(calc(0.5535 * 1.2) 0.2144 9.33);
	--color-accent-400: oklch(calc(0.5535 * 1.1) 0.2144 9.33);
	--color-accent-500: oklch(calc(0.5535 * 1) 0.2144 9.33);
	--color-accent-600: oklch(calc(0.5535 * 0.9) 0.2144 9.33);
	--color-accent-700: oklch(calc(0.5535 * 0.8) 0.2144 9.33);
	--color-accent-800: oklch(calc(0.5535 * 0.7) 0.2144 9.33);
	--color-accent-900: oklch(calc(0.5535 * 0.6) 0.2144 9.33);
	--color-accent-950: oklch(calc(0.5535 * 0.55) 0.2144 9.33);
}
